<!doctype html>
<title>{% block title %}{% endblock %} - Howamidoing</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/bd839e52d6.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<nav>
  <a class="logo popable" href="{{ url_for('index') }}"><h1>Howamidoing</h1></a>
  <span class="popup">Main Page</span>
  <filler></filler>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <hr>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>


<script>
// Get all the popable elements
var popables = document.querySelectorAll('.popable');

// Loop through each popable element and add event listeners
for (var i = 0; i < popables.length; i++) {
  // Get the next element sibling
  var nextSibling = popables[i].nextElementSibling;
  // If the next element sibling exists and has the .popup class
  if (nextSibling && nextSibling.classList.contains('popup')) {
    var popup = popables[i].nextElementSibling;

    // Add mouseover event listener to show the popup
    popables[i].addEventListener('mouseover', createShowPopupFunction(popup));

    // Add mouseout event listener to hide the popup
    popables[i].addEventListener('mouseout', createHidePopupFunction(popup));

    // Add mousemove event listener to move the popup along with the mouse
    document.addEventListener('mousemove', createMovePopupFunction(popup));
  }
}

// Helper function to create a showPopup function with a given popup element
function createShowPopupFunction(popup) {
  return function(e) {
    popup.style.display = 'block';
  };
}

// Helper function to create a hidePopup function with a given popup element
function createHidePopupFunction(popup) {
  return function(e) {
    popup.style.display = 'none';
  };
}

// Helper function to create a movePopup function with a given popup element
function createMovePopupFunction(popup) {
  return function(e) {
    var x = e.clientX + window.scrollX;
    var y = e.clientY + window.scrollY;
    popup.style.top = y + 5 + 'px';
    popup.style.left = x + 5 + 'px';
  };
}
</script>