{% extends 'base.html' %}

{% block title %}
  {% if g.user %}Your Profile{% else %}Welcome{% endif %}
{% endblock %}
{% block header %}
  {% if g.user %}
    <h1>Your Profile</h1>
    <filler></filler>
    <a class="action" href="{{ url_for('profile.add_course') }}">Add Course</a>
  {% else %}
    <h1>Welcome</h1>
  {% endif %}
{% endblock %}

{% block content %}
  {% if profile_details%}
    {% for course in profile_details %}
      <div class="card course">
        <div class="main">
          <div class="header">
            <h1>{{ course['name'] }}</h1>
          </div>
          <div class="info">
            {% if course["error_message"] %}
              <div class="message">
                {{ course["error_message"] }}
              </div>
            {% else %}
            <div class="info-box">
              Your percentage: <span class="big">{{ course['percentage'] }}</span> 
            </div>
            <div class="info-box hidden" id="letter-grade">
              Letter grade estimate:  <span class="big">{{ course['grade'] }}</span> 
            </div>
            <div class="info-box">
              Class average: <span class="small">{{ course['mu'] }}</span>
              Class standard deviation:  <span class="small">{{ course['sigma'] }}</span>
            </div>
            <filler></filler>
            <span class="toggle-letter-grade" type="button">Toggle Letter Grade</span>
            {% endif %}
          </div>
          <div class="meta-box">
            Status: {{ course['status'] }}; Course components: {% if course['is_final'] %}Final{% else %}Not final{% endif %}.
          </div>
        </div>
        <div class="buttons">
          <a class="enter" href="{{ url_for('course.course_landing', course_id = course['id']) }}">
            <i class="fa-solid fa-right-to-bracket fa-xl" style="color: #282828;"></i> 
          </a>
          <a class="edit" href="{{ url_for('profile.edit_course', course_id = course['id']) }}">
            <i class="fa-solid fa-gear fa-xl" style="color: #282828;"></i> 
          </a>
          <a class="delete" href="{{ url_for('profile.delete_course', course_id = course['id']) }}">
            <i class="fa-solid fa-trash-can fa-xl" style="color: #282828;"></i> 
          </a>
        </div>
        
      </div>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %} 
  {% endif %}
  {% if message%}
    {{ message }}
  {% endif %}
  <script>
    // Get all the toggle-letter-grade button elements
    var toggleButtons = document.querySelectorAll(".toggle-letter-grade");

    // Loop through each button and add a click event listener
    for (var i = 0; i < toggleButtons.length; i++) {
      toggleButtons[i].addEventListener("click", function() {
      console.log("Button clicked!");
      // Get the info-box element with id="letter-grade" that is a sibling of the clicked button
      var letterGradeElement = this.parentNode.querySelector(".info-box#letter-grade");
      console.log("letterGradeElement:", letterGradeElement);
  
      // Toggle the "hidden" CSS class on the letterGradeElement
      letterGradeElement.classList.toggle("hidden");
      console.log("letterGradeElement classList:", letterGradeElement.classList);
      });
    }
  </script>
{% endblock %}