{% extends 'base.html' %}

{% block title %}
  {% if g.user %}Your Profile{% else %}Welcome{% endif %}
{% endblock %}
{% block header %}
  {% if g.user %}
    <h1>Your Profile</h1>
    <a class="action" href="{{ url_for('profile.add_course') }}">Add Course</a>
  {% else %}
    <h1>Welcome</h1>
  {% endif %}
{% endblock %}

{% block content %}
  {% if profile_details%}
    {{ profile_details }}
    {% for course in profile_details %}
      <div class="card">
        <a class="main" href="{{ url_for('course.course_landing', course_id = course['id']) }}">
          <h1>{{ course['name'] }}</h1>
          {{ course['status'] }}
          {{ course['summary']['percentage'] }}
          {{ course['summary']['class_curved'] }}
        </a>
        <div class="buttons">
          <a class="edit" href="{{ url_for('profile.edit_course', course_id = course['id']) }}">
            <i class="fa-solid fa-pen-to-square fa-2xl" style="color: #282828;"></i> 
          </a>
          <a class="delete" href="{{ url_for('profile.delete_course', course_id = course['id']) }}">
            <i class="fa-solid fa-trash-can fa-2xl" style="color: #282828;"></i> 
          </a>
        </div>
        
      </div>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %} 
  {% endif %}
  {% if message%}
    {{ message }}
  {% endif %}
{% endblock %}