{% extends 'base.html' %}

{% block title %}
  {% if g.user %}Your Profile{% else %}Welcome{% endif %}
{% endblock %}
{% block header %}
  {% if g.user %}
    <h1>Your Profile</h1>
    <a class="action" href="{{ url_for('profile.add_course') }}">Add Course</a>
  {% else %}
    <h1>Welcome</h1>
  {% endif %}
{% endblock %}

{% block content %}
  {% for course in course_details %}
    <article class="post">
      <header>
        <div>
          <h1>{{ course['name'] }}</h1>
          <div class="about">Status: {{ course['status'] }}</div>
        </div>
      </header>
      <p class="body">{{ course['summary'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}