{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
  <form method="post">
    <h1>Log In</h1>
    <div id="username" class="label-input-pair">
      <label for="username">Username</label>
      <input name="username" id="username" required>
    </div>
    <div id="password" class="label-input-pair">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-actions">
      <input type="submit" value="Log In">
    </div>
  </form>
{% endblock %}