{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
  <form method="post">
    <h1>Register</h1>
    <div class="label-input-pair">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="label-input-pair">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-actions">
      <input type="submit" value="Register">
    </div>
  </form>
{% endblock %}