{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Single Assignment{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div id = "name" class="label-input-pair">
    <label>Assignment name</label>
    <input name="name" value="{{ request.form['name'] }}" required>
  </div>
  <div id="weight" class="label-input-pair">
    <label>Assignment weight</label>
    <input name="weight" value="{{ request.form['weight'] }}" required>
  </div>
  <div id="curved" class="label-input-pair">
    <label>Assignment type</label>
    <choice id="curved-choice">
      <li><input type="radio" name="curved" value="Curved" checked>Curved</li>
      <li><input type="radio" name="curved" value="Not Curved">Not Curved</li>
    </choice>
  </div>
  <div id="score" class="label-input-pair">
    <label>Your raw score</label>
    <input name="score" value="{{ request.form['score'] }}" required>
  </div>
  <div id="upper" class="label-input-pair">
    <label>Upper bound score for this assignment</label>
    <input name="upper" value="100" required>{{ request.form['upper'] }}
  </div>
  <div id="mu" class="label-input-pair">
    <label>Class average for this assignment</label>
    <input name="mu" value="{{ request.form['mu'] }}">
  </div>
  <div id="sigma" class="label-input-pair">
    <label>Class standard deviation for this assignment</label>
    <input name="sigma" value="{{ request.form['sigma'] }}">
  </div>
  <input type="submit" value="Save">
</form>

<script>
  var curvedRadio = document.getElementById("curved-choice");
  var curvedInputs = curvedRadio.querySelectorAll("input");

  for (var i = 0; i < curvedInputs.length; i++) {
    curvedInputs[i].addEventListener("change", function() {
      var isCurved = document.querySelector("input[name='curved'][value='Curved']").checked;
      var muInput = document.getElementById("mu");
      var sigmaInput = document.getElementById("sigma");

      if (isCurved) {
        muInput.style.display = "flex";
        sigmaInput.style.display = "flex";
        muInput.required = true;
        sigmaInput.required = true;
      } else {
        muInput.style.display = "none";
        sigmaInput.style.display = "none";
        muInput.required = false;
        sigmaInput.required = false;
      }
    });
  }
</script>

{% endblock %}