{% extends 'base.html' %}

{% block title %}New Assignment Group{% endblock %}

{% block content %}
<form method="post">
  <h1>New Assignment Group</h1>
  <div id = "name" class="label-input-pair">
    <label>Assignment group name</label>
    <input name="name" required>
  </div>
  <div id="weight" class="label-input-pair">
    <label>Assignment group weight</label>
    <input name="weight" required>
  </div>
  <div id="curved" class="label-input-pair">
    <label>Assignment group type</label>
    <choice id="curved-choice">
      <li><input type="radio" name="curved" value="Curved" checked>Curved</li>
      <li><input type="radio" name="curved" value="Not Curved">Not Curved</li>
    </choice>
  </div>
  <div id="corr" class="label-input-pair">
    <label>Assignment group correlation coefficient</label>
    <input name="corr" value="0.6" required>
  </div>
  <div id="num_drops" class="label-input-pair">
    <label>Number of assignment drops allowed</label>
    <input name="num_drops" value="0" required>
  </div>
  <div class="form-actions">
    <input type="submit" value="Save">
    <input type="cancel" value="Cancel" onclick="history.back()">
  </div>
</form>
{% endblock %}