html { font-family: 'Barlow', sans-serif; background: rgb(240, 243, 238);}
body { margin: 0 auto; background: white; }
h1 { color: #282828; margin: 1rem 0; }
span { color: #282828; }
.hidden { display: none !important; }
.bold { font-weight: 600 !important; }
.normal {font-weight: 400 !important; }
.light { font-weight: 200 !important; }
.underline { text-decoration: underline; }

/* Normal link */
a, a:visited { text-decoration: none; color: #282828;}
a:hover, a:active { text-decoration: underline;}

hr { border: none; }
filler { flex: auto }
hspace {margin: auto 1%;}

nav { background: #f0f3ee; display: flex; align-items: center; padding: 1rem 2rem; }
nav .logo h1 { margin: 0; }
nav .logo:hover , nav .logo:active { text-decoration: none; }

nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span { display: block; padding: 0.5rem; }

.content { padding: 2rem 10%; }
.content > header { display: flex; align-items: flex-end; }
.content > header > h1 { margin: 1rem 0 0.25rem 0; }
.content > header .action { display: block; padding: 0.5rem; }

.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

/* FORMS */
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content form .label-input-pair { display: flex; flex-direction: column; } 
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea, .content choice { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
.content choice { display: flex; }
.content choice li { list-style-type: none; display: flex; align-items: center; margin-right: 1em; }
.content choice input { margin: auto 0.5em}

input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

/* CARD */
.card { margin: 16px 0; width: auto; display: flex; background-color: rgb(250, 253, 248); border: 2px solid rgb(240, 243, 238); font-weight: 200; }
.card.course { height: 240px; } /* Taller for course */
.card.components { height: 160px; } /* Shorter for components */
.card a:hover, .card a:active { background-color: rgb(240, 243, 238); text-decoration: none; }

.card > .main { display: flex; flex-direction: column; flex: auto; border-right: 2px solid rgb(240, 243, 238); }
.card .header { margin: 0; border-bottom: 2px solid rgb(240, 243, 238); display: flex; align-items: center;}
.card.course .header { padding: 16px 16px; }
.card.components .header { padding: 8px 16px; }
.card .header > h1 { margin: 0; }

.card .info { flex: auto; display: flex; }
.info > .message { font-weight: 400; margin: auto 20px; }
.info > .info-box { display: flex; flex-direction: column; margin: auto 20px;}
.info-box > .big { font-size: 60px; font-weight: 600; }
.info-box > .small { font-size: 25px; font-weight: 400; }

.info > .toggle-box { display: flex; flex-direction: column; margin: 0;}
.info .toggle { display: flex; cursor: pointer; height: 32px; padding: 8px; justify-content: flex-start; align-items: center; }
.info .toggle:hover {background-color: rgb(240, 243, 238); text-decoration: underline;}


.card .buttons { display: flex; flex-direction: column; width: 48px; }
.card .buttons a { flex: auto; display: flex; justify-content: center; align-items: center; }
.card .buttons i { margin: auto; }

.card .meta-box { display: flex; align-items: center; margin-left: 16px; font-weight: 400; font-style: italic; }
.card.course .meta-box { height: 48px; }
.card.components .meta-box { height: 32px; }