html { font-family: 'Barlow', sans-serif; background: rgb(240, 243, 238);}
body { margin: 0 auto; background: white; }
h1 { color: #282828; margin: 1rem 0; }
span { color: #282828; }
hr { border: none; }
filler { flex: auto }
.hidden { display: none !important; }
.bold { font-weight: 600 !important; }
.normal {font-weight: 400 !important; }
.light { font-weight: 200 !important; }
.underline { text-decoration: underline; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    /* Change the box-shadow color and size to match your design */
  }
  
input:focus:-webkit-autofill {
    -webkit-box-shadow: none;
    /* Remove the box-shadow on focus to remove the blue background color */
}

/* Normal link */
a, a:visited { text-decoration: none; color: #282828;}
a:hover, a:active { text-decoration: underline;}

/* POP UPS */
.popup {
    position: absolute;
    display: none;
    background-color: rgb(90, 93, 88);
    border: 1px solid rgb(70, 73, 68);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding: 7px;
    color: rgb(230, 233, 228);
    font-weight: 600;
    line-height: 1.5;
    z-index: 999;
    max-width: 300px;
}

/* Nav Bar */
nav { background-color: rgb(240, 243, 238); display: flex; align-items: center; padding: 1rem 2rem; }
nav .logo h1 { margin: 0; }
nav .logo:hover , nav .logo:active { text-decoration: none; }

nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span { display: block; padding: 0.5rem; }

/* Level 1 Header */
.content { padding: 2rem 10%; }
.content > header { display: flex; align-items: flex-end; }
.content > header > h1 { margin: 1rem 0 0.25rem 0; }
.content > header .action { display: block; padding: 0.5rem; }

.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

/* FORMS */
.content form { margin: 16px auto; display: flex; flex-direction: column; max-width: 480px; }
form > h1 { margin: 0 0 16px 0; }
form .label-input-pair { display: flex; flex-direction: column; margin-bottom: 32px;} 
form label, form span { font-weight: 800; margin-bottom: 8px; color: #282828; }
form input, form textarea, form choice { font-family: inherit; }
form choice { display: flex; }
form choice li { list-style-type: none; display: flex; align-items: center; margin-right: 16px; }
form choice input { margin: auto 8px; }
input.danger { color: #cc2f2e; }
form .form-actions { display: flex; justify-content: space-evenly; align-items: center;}

.label-input-pair input {
    border: none;
    border-bottom: 1px solid #282828;
    padding: 8px;
}
.form-actions input { 
    background-color: rgb(240, 243, 238); 
    border: 1px solid #282828;
    border-radius: 16px;
    width: 120px; 
    text-align: center;
    color: #282828; 
    padding: 8px;
    margin: 4px 0;
    font-weight: 400;
    cursor: pointer;
}

.form-actions input:hover { background-color: rgb(200, 203, 198); }

/* CARD */
.card { margin: 16px 0; width: auto; display: flex; background-color: rgb(250, 253, 248); border: 2px solid rgb(240, 243, 238); font-weight: 200; }
.card.course { height: 240px; } /* Taller for course */
.card.components { height: 160px; } /* Shorter for components */
.card a:hover, .card a:active { background-color: rgb(240, 243, 238); text-decoration: none; }

.card > .main { display: flex; flex-direction: column; flex: auto; border-right: 2px solid rgb(240, 243, 238); }
.card .header { margin: 0; border-bottom: 2px solid rgb(240, 243, 238); display: flex; align-items: center;}
.card.course .header { padding: 16px 16px; }
.card.components .header { padding: 8px 16px; }
.card .header > h1 { margin: 0; }

.card .info { flex: auto; display: flex; }
.info > .message { font-weight: 400; margin: auto 20px; }
.info > .info-box { display: flex; flex-direction: column; margin: auto 20px;}
.info-box > .big { font-size: 60px; font-weight: 600; }
.info-box > .small { font-size: 25px; font-weight: 400; }

.info > .toggle-box { display: flex; flex-direction: column; margin: 0;}
.info .toggle { display: flex; cursor: pointer; height: 32px; padding: 8px; justify-content: flex-start; align-items: center; }
.info .toggle:hover {background-color: rgb(240, 243, 238); text-decoration: underline;}


.card .buttons { display: flex; flex-direction: column; width: 48px; }
.card .buttons a { flex: auto; display: flex; justify-content: center; align-items: center; }
.card .buttons i { margin: auto; }

.card .meta-box { display: flex; align-items: center; margin-left: 16px; font-weight: 400; font-style: italic; }
.card.course .meta-box { height: 48px; }
.card.components .meta-box { height: 32px; }